@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wght,GRAD@8..144,-10..0,100..1000,-200..150&display=swap');

$font: 'Roboto Flex', sans-serif;
$text: #dfdfdf;
$bg: #1b1b1b;
$fg: #0c0c0c;

* {
  font-family: $font;
}

html, body {
  background-color: $bg;
  margin: 0;
  padding: 0;
}

header {
  background-color: $fg;
  color: $text;
  padding: 1rem;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sounds {
  margin-top: 25px;
  width: 80vw;
  .add {
    button {
      width: 100%;
      height: 50px;
    }
  }
  .buttons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    button {
      margin: 10px;
      width: 30%;
      height: 100px;
      font-size: 1.5rem;
    }
  }
}

.upload-btn {
  width: 100% !important;
  margin-top: 15px;
  border: 1px solid red;
}

.ant-upload {
  width: 100% !important;
}

.add-sound-btn {
  width: 100%;
  margin-top: 15px;
}